@import '@styles/theme.scss';

// Your style here

.container {
}

.menu {
  display: none;
}

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 3.2rem var(--padding-page-x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo,
  &__cart,
  &__burger {
    position: relative;
    @include z-index('burger');
  }

  &__left,
  &__right {
    flex: 1;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4rem;
    gap: 2.5rem;
  }
}
