@import '@styles/theme.scss';

// Your style here

.container {
  @include padding-page;
  @include padding-section;
}
.title {
  float: left;
  padding-top: 4px;
  padding-right: max(18vw, 10rem);
}
