// fonts
$font-primary: 'Playfair';
$font-secondary: 'Manrope';

// colors
$color-primary-700: #261b11;
$color-primary-600: #4c4037;
$color-primary-500: #957f72;
$color-primary-400: #b6a497;
$color-primary-300: #e5d9cf;
$color-primary-200: #f9f1ec;

// breakpoints
$breakpoints: (
  xxs: 375px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);
